@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body {
	height: 100vh;
	margin: 0;
	font-family: 'Poppins', arial;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.nav-container {
	background: #0A043C;
	a {
		color: white;
	}
}
header {
	display: flex;
	justify-content: space-between;
	padding: 2em;

	.logo {
		color: #F5554F;
		font-weight: bold;
	}
	nav {
		float: right;
		ul {
			display: flex;
		}
		a {
			display: block;
			padding: 0 1em;
		}
	}
}
.social-header, .hero-design {
  display: none;
}
.hero {
	background: #0A043C;
	color: white;
	display: grid;
	text-align: center;
	padding: 4em;
}
.contact {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	font-weight: bold;
	color: #F5554F;

	span {
		margin-top: 1em;
		margin-right: 0.5em;
	}
}
.scroll {
  width: 30px;
}
section {
	padding: 4em 2em;
	text-align: center;
}
.featured {
	position: relative;
}
.featured::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #E5D5FA;
	top: 0;
	left: 0;
	z-index: -1;
}
.subtitle {
	text-transform: uppercase;
	font-weight: bold;
	color: #0A043C;
	letter-spacing: .2em;
	font-size: .58em;
}
.featured-title {
	color: black;
	font-weight: bold;
	font-size: 1.3em;
	margin-top: -.4em;
	display: block;
}
.featured-desc {
	color: #252525;
	margin-bottom: 3em;
	font-size: .9em;
	line-height: 1.8em;
	font-weight: 500;
}
.skills {
	background: #0A043C;
}

.icon-code {
	width: 40px;
	color: #F5554F;
}
.skills-container ul li {
	background: white;
	padding: 2em;
	border-radius: 1em;
	margin-bottom: 1em;

	.icon-container {
		place-content: center;
		margin: 0 auto;

		&.two {
			width: 100px;
		}
		&.three {
			width: 60px;
		}
	}
	.skill-title {
		font-weight: bold;
	}
	.featured-desc {
		margin-bottom: .5em;
	}
}
.portfolio {
	background: #F7F7F7;
}
.portfolio-container a img {
	border-radius: 1em;
	margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
	.featured, .portfolio {
		text-align: left;
	}
	.featured, .portfolio-container {
		display: grid;
		grid-template-columns: 40% auto;
	}

	.left, .portfolio-left {
		display: grid;
		place-content: center;
	}
	.right {
		margin-left: 4em;
		margin-top: 1em;
	}
	.skills-container ul {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-gap: 1em;
	}
	.portfolio {
		padding-top: 7em;
	}
	.portfolio-container img {
		margin-left: 2em;
	}
}
@media only screen and (min-width: 1050px) {
	.nav-container {
		display: grid;
		grid-template-columns: 66% auto;
		background: unset;

		header {
			background: #0A043C;
		}
	}
	header {
		padding: 2em 2em 2em 4em;
	}
	.social-header{
		padding: 2em 4em 2em 0;
	}
	section {
		padding: 4em;
	}
	.social-header {
		display: block;

		ul {
			display: flex;
			justify-content: space-between;
			width: 7em;
			float: right;

			img {
				width: 20px;
			}
		}
	}
	.hero {
		display: grid;
		grid-template-columns: 66% auto;
		background: unset;
		padding:0;

		.content {
			background: #0A043C;
			padding: 6em 8em 6em 4em;

			h1 {
				font-size: 3em;
				line-height: 1.2em;
			}
		}
	}
	.contact {
		margin: unset;
	}
	.hero-design {
		display: unset;
		margin-left: -50.5%;
		width: 100%;
	}
	.portfolio img {
		float: right;
		max-width: 500px;
	}
}
@media only screen and (min-width: 1550px) {
	header {
		padding: 2em 2em 2em 10em;
	}
	.social-header {
		padding: 2em 10em 2em 0;
	}
	section {
		padding: 10em 10em 4em 10em;
	}
	.hero-content {
		padding: 6em 8em 6em 10em;
	}
}